
<div class="container mt-5">
    <h2><b>My Projects</b></h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let project of projects">
        <div class="card">
          <img [src]="project.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title"><b>{{ project.name }}</b></h4>
            <p class="card-text">{{ project.description }}</p>
            <a [href]="project.link" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  